<%- include('./header', {}) %>

<title><%= __('admin.head.admin') %> - <%= title %></title>
<script>
$(function(){
  //. ログインしている
  $('#navbar').html( '<li><a href="#" title="Logout" onClick="logout()"><span class="glyphicon glyphicon-user"></span> <%= user.name %>(Logout)</a></li>' );

<%
if( user.role == 0 ){
%>
  getUsers();
<%
}
%>
  getDocuments();
  getAttachments();
});

function getUsers(){
  $('#users_table_tbody').html( '' );
  var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'loading', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
  $.ajax({
    type: 'GET',
    url: '/docs?type=user',
    success: function( result ){
      obj.remove();
console.log( result );
      if( result.status ){
        $('#users_table_tbody').append( tr );
        var users = result.docs;
        var cnt = 1;
        users.forEach( function( user ){
          var tr = '<tr>'
            + '<td>' + ( cnt ++ ) + '</td>'
            + '<td>' + user._id + '</td>'
            + '<td>' + user.password + '</td>'
            + '<td>' + user.name + '</td>'
            + '<td>' + user.email + '</td>'
            + '<td>' + user.role + '</td>'
            + '<td>'
            + "<input type='button' value='<%= __('users.buttonlabel.edit') %>' class='btn btn-success' onClick='editUser(" + JSON.stringify(user) + ")'>"
            + "<input type='button' value='<%= __('users.buttonlabel.delete') %>' class='btn btn-warning' onClick='deleteUser(\"" + user.id + "\")'/>"
            + '</td>'
            + '</tr>';
          $('#users_table_tbody').append( tr );
        });
        var tr = "<tr>"
          + '<td>-</td>'
          + "<td><input type='text' id='user_id' placeholder='<%= __('users.placeholder.id' ) %>'/></td>"
          + "<td><input type='password' id='user_password' placeholder='<%= __('users.placeholder.password' ) %>'/></td>"
          + "<td><input type='text' id='user_name' placeholder='<%= __('users.placeholder.name' ) %>'/></td>"
          + "<td><input type='text' id='user_email' placeholder='<%= __('users.placeholder.email' ) %>'/></td>"
          + "<td><input type='text' id='user_role' placeholder='<%= __('users.placeholder.role' ) %>'/></td>"
          + "<td><input type='button' class='btn btn-primary' value='<%= __('users.buttonlabel.update') %>' onClick='updateUser();'/></td>"
          + "</tr>";
        $('#users_table_tbody').append( tr );
      }
    },
    error: function( err ){
      obj.remove();
      console.log( err );
    }
  });
}

function getDocuments(){
  $('#documents_table_tbody').html( '' );
  var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'loading', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
  $.ajax({
    type: 'GET',
    url: '/docs?type=document',
    success: function( result ){
console.log( result );
      obj.remove();
      if( result.status ){
        var documents = result.docs;
        var cnt = 1;
        documents.forEach( function( doc ){
          var tr = '<tr>'
            + '<td>' + ( cnt ++ ) + '</td>'
            + '<td>' + doc._id + '</td>'
            + '<td>' + doc.title + '</td>'
            + '<td>' + doc.body + '</td>'
            + '<td>' + doc.user.name + '</td>'
            + '<td>' + doc.timestamp + '</td>'
            + '<td></td>'
            + '</tr>';
          $('#documents_table_tbody').append( tr );
        });
      }
    },
    error: function( err ){
      obj.remove();
      console.log( err );
    }
  });
}

function getAttachments(){
  $('#attachments_table_tbody').html( '' );
  var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'loading', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
  $.ajax({
    type: 'GET',
    url: '/docs?type=attachment',
    success: function( result ){
      obj.remove();
console.log( result );
      if( result.status ){
        var attachments = result.docs;
        var cnt = 1;
        attachments.forEach( function( attachment ){
          var tr = '<tr>'
            + '<td>' + ( cnt ++ ) + '</td>'
            + '<td>' + attachment.filename + '</td>'
            + '<td>' + attachment.name + '</td>'
            + '<td>' + attachment.user.name + '</td>'
            + '<td>' + attachment.timestamp + '</td>'
            + '<td>' + attachment._id + '</td>'
            + '<td></td>'
            + '</tr>';
          $('#attachments_table_tbody').append( tr );
        });
      }
    },
    error: function( err ){
      obj.remove();
      console.log( err );
    }
  });
}

function logout(){
  if( window.confirm( 'Logout?' ) ){
    var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'loading', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
    $.ajax({
      type: 'POST',
      url: '/logout',
      data: {},
      success: function( data ){
        obj.remove();
        window.location.href = '/';
      },
      error: function(){
        obj.remove();
        window.location.href = '/';
      }
    });
  }
}

function updateUser(){
  var id = $('#user_id').val();
  var password = $('#user_password').val();
  var name = $('#user_name').val();
  var email = $('#user_email').val();
  var role = $('#user_role').val();

  $.ajax({
    type: 'POST',
    url: '/user',
    data: { _id: id, type: 'user', password: password, name: name, email: email, role: role },
    success: function( data ){
      console.log( data );
      getUsers();
    },
    error: function( jqXHR, textStatus, errorThrown ){
      console.log( textStatus );
      console.log( errorThrown );
      console.log( 'updateUser: error' );
    }
  });
}

function editUser(user){
  $('#user_id').val( user._id );
  $('#user_password').val( user.password );
  $('#user_name').val( user.name );
  $('#user_email').val( user.email );
  $('#user_role').val( user.role );
}

function deleteUser(id){
  if( window.confirm( 'Delete User?' ) ){
    console.log( 'deleteUser(): id=' + id );

    $.ajax({
      type: 'DELETE',
      url: '/user/' + id,
      data: {},
      success: function( data ){
        window.location.href = '/';
      },
      error: function( jqXHR, textStatus, errorThrown ){
        console.log( textStatus );
        console.log( errorThrown );
        console.log( 'updateUser: error' );
        window.location.href = '/';
      }
    });
  }
}

</script>
</head>
<body>

<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><%= title %></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse target">
      <ul class="nav navbar-nav navbar-right" id="navbar">
      </ul>
    </div>
  </div>
</div>

<%
if( user.role == 0 ){
%>
<div class="container" style="padding:20px 0; font-size:8px;">
  <table class="table table-hover table-bordered" id="documents_table">
    <thead class="table-inverse">
      <tr>
      <th>#</th>
      <th><%= __('admin.body.users.table.thead.id') %></th>
      <th><%= __('admin.body.users.table.thead.password') %></th>
      <th><%= __('admin.body.users.table.thead.name') %></th>
      <th><%= __('admin.body.users.table.thead.email') %></th>
      <th><%= __('admin.body.users.table.thead.role') %></th>
      <th><%= __('admin.body.users.table.thead.actions') %></th>
      </tr>
    </thead>
    <tbody id="users_table_tbody">
    </tbody>
  </table>
</div>
<%
}
%>

<div class="container" style="padding:20px 0; font-size:8px;">
  <table class="table table-hover table-bordered" id="documents_table">
    <thead class="table-inverse">
      <tr>
      <th>#</th>
      <th><%= __('admin.body.documents.table.thead.title') %></th>
      <th><%= __('admin.body.documents.table.thead.body') %></th>
      <th><%= __('admin.body.documents.table.thead.user.name') %></th>
      <th><%= __('admin.body.documents.table.thead.timestamp') %></th>
      <th><%= __('admin.body.documents.table.thead.actions') %></th>
      </tr>
    </thead>
    <tbody id="documents_table_tbody">
    </tbody>
  </table>
</div>

<div class="container" style="padding:20px 0; font-size:8px;">
  <table class="table table-hover table-bordered" id="documents_table">
    <thead class="table-inverse">
      <tr>
      <th>#</th>
      <th><%= __('admin.body.attachments.table.thead.filename') %></th>
      <th><%= __('admin.body.attachments.table.thead.name') %></th>
      <th><%= __('admin.body.attachments.table.thead.user.name') %></th>
      <th><%= __('admin.body.attachments.table.thead.timestamp') %></th>
      <th><%= __('admin.body.attachments.table.thead.actions') %></th>
      </tr>
    </thead>
    <tbody id="attachments_table_tbody">
    </tbody>
  </table>
</div>

<%- include('./footer', {}) %>
