<%- include('./header', {}) %>

<title><%= config.title %></title>
<!-- //OGP -->
<meta property="og:type" content="website"/>
<% if( config && config.title ){ %>
<meta property="og:title" content="<%= config.title %>"/>
<meta property="og:site_name" content="<%= config.title %>"/>
<% } %>
<% if( config && config.url ){ %>
<meta property="og:url" content="<%= config.url %>"/>
<% } %>
<% if( config && config.image_url ){ %>
<meta property="og:image" content="<%= config.image_url %>"/>
<% } %>
<% if( config && config.desc ){ %>
<meta property="og:description" content="<%= config.desc %>"/>
<% } %>
<!-- OGP// -->
<script>
$(function(){
<%
  if( user != null ){
%>
    //. ログインしている
    $('#navbar').append( '<li class="nav-item"><a class="nav-link" href="#" title="Logout" onClick="logout()"><span class="glyphicon glyphicon-user"></span> <%= user.name %>(Logout)</a></li>' );
<%
  }else{
%>
    //. ログインしていない
    $('#navbar').append( '<li class="nav-item"><a class="nav-link" href="#" onClick="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>' );
<%
  }
%>
  getDocuments();
});

function getDocuments(){
  $('#documents_tile').html( '' );
  var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'loading', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
  $.ajax({
    type: 'GET',
    url: '/docs?type=document',
    success: function( result ){
      obj.remove();
      console.log( result );
      if( result.status ){
        var documents = result.docs;
        documents.forEach( function( doc ){
          if( doc.status > 0 ){
            console.log( doc );
            var div = '<div class="card">'
              + '<div class="card-header">' + doc.title + '</div>'
              + '<div class="card-body">'
              + '<p class="card-text"><a class="colorbox" href="single/' + doc._id + '?noheader=1">' + doc.body.substr( 0, 80 ) + '..</a></p>'
              + '<p class="card-text" style="text-align:right;">' + timestamp2datetime( doc.timestamp ) + '(' + doc.user.name + ')</p>'
              + '<p id="doc_category">' + doc.category + '</p>'
              + '</div>'
              + '</div>';
            $('#documents_tile').append( div );
          }
        });
        $('.colorbox').colorbox();
      }
    },
    error: function( err ){
      obj.remove();
      console.log( err );
    }
  });
}

function logout(){
  if( window.confirm( 'Logout?' ) ){
    var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'loading', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
    $.ajax({
      type: 'POST',
      url: '/logout',
      data: {},
      success: function( data ){
        obj.remove();
        window.location.href = '/';
      },
      error: function(){
        obj.remove();
        window.location.href = '/';
      }
    });
  }
}

function login(){
  window.location.href = '/login';
}

function timestamp2datetime( ts ){
  var dt = new Date( ts );
  var yyyy = dt.getFullYear();
  var mm = dt.getMonth() + 1;
  var dd = dt.getDate();
  var hh = dt.getHours();
  var nn = dt.getMinutes();
  var ss = dt.getSeconds();
  var datetime = yyyy + '-' + ( mm < 10 ? '0' : '' ) + mm + '-' + ( dd < 10 ? '0' : '' ) + dd
    + ' ' + ( hh < 10 ? '0' : '' ) + hh + ':' + ( nn < 10 ? '0' : '' ) + nn + ':' + ( ss < 10 ? '0' : '' ) + ss;
  return datetime;
}
</script>
<style>
body{
  background-color: '#ccccff';
}
#colorbox{
  width: 90%;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/" class="navbar-brand"><%= config.title %></a>
  <div class="collapse navbar-collapse target">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav" id="navbar">
      <!--
      <li class="nav-item">
        <a href="http://twitter.com/share?url=<%= config.url %>&text=<%= config.title %>" target="_blank">twitter</a>
      </li>
      <li class="nav-item">
        <a href="http://www.facebook.com/sharer.php?u=<%= config.url %>&amp;t=<%= config.title %>" target="_blank" rel="nowfollow">facebook</a>
      </li>
      -->
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <h1><%= config.title %></h1>
  <p><%= config.desc %></p>
</div>

<div class="container" id="documents_tile" style="padding:20px 0; font-size:8px;">
</div>

<%- include('./footer', {}) %>
