<%- include('./header', {}) %>

<title><%= title %></title>
<script>
$(function(){
});

function timestamp2datetime( ts ){
  var dt = new Date( ts );
  var yyyy = dt.getFullYear();
  var mm = dt.getMonth() + 1;
  var dd = dt.getDate();
  var hh = dt.getHours();
  var nn = dt.getMinutes();
  var ss = dt.getSeconds();
  var datetime = yyyy + '-' + ( mm < 10 ? '0' : '' ) + mm + '-' + ( dd < 10 ? '0' : '' ) + dd
    + ' ' + ( hh < 10 ? '0' : '' ) + hh + ':' + ( nn < 10 ? '0' : '' ) + nn + ':' + ( ss < 10 ? '0' : '' ) + ss;
  return datetime;
}
</script>
<style>
#cboxOverlay {
    background: #000;
}
#cboxLoadedContent {
    background: #fff;
}
#cboxLoadedContent {
  padding: 0;
  overflow: auto;
    -moz-box-shadow: 0px 1px 10px #000000;
    -webkit-box-shadow: 0px 1px 10px #000000;
    box-shadow: 0px 1px 10px #000000;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose , #cboxTitle {
  top: -30px;
}
#colorbox, #cboxOverlay, #cboxWrapper {
  overflow: visible ;
}
#cboxTitle {
  color: #fff;
}
#inline-content {/* インラインを使用する時のみ */
    margin: 20px;
}
#ajax-wrap {/* ajaxを使用する時のみ */
  margin: 20px;
}
</style>
</head>
<body>

<%
if( !noheader ){
%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/" class="navbar-brand"><%= title %></a>
  <div class="collapse navbar-collapse target">
    <ul class="navbar-nav mr-auto">
<%
  if( user != null ){
%>
      <li class="nav-item"><a class="nav-link" href="#" title="Logout" onClick="logout()"><span class="glyphicon glyphicon-user"></span> <%= user.name %>(Logout)</a></li>
<%
  }else{
%>
      <li class="nav-item"><a class="nav-link" href="#" onClick="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
<%
  }
%>
    </ul>
    <ul class="navbar-nav" id="navbar">
    </ul>
  </div>
</nav>
<%
}
%>

<div class="container" id="document_tile" style="padding:20px 0; font-size:8px;">
  <div class="card">
    <div class="card-header"><%= title %></div>
    <div class="card-body">
      <p class="card-text"><%- body %></p>
      <p class="card-text" style="text-align:right;"><%= datetime %>(<% user ? user.name : '???' %>)</p>
    </div>
  </div>
</div>

<%- include('./footer', {}) %>
